.wrapper, .wrapper:focus {
  border: none;
  border-radius: 0;
  font-size: 0.875rem;
  min-width: 100%;
  min-height: 38px;
  text-align: left; }
  .wrapper:not(:last-child), .wrapper:focus:not(:last-child) {
    border-bottom: 1px solid #EAEDF3; }
