:global .uikon.green {
  color: #38B249; }

:global .uikon.blue {
  color: #1665D8; }

:global .uikon.orange {
  color: #F6AB2F; }

:global .uikon.violet {
  color: #6977FF; }

:global .uikon.red {
  color: #E6492D; }
